<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <h1>AUTHENTICATED</h1>
  <%- include('partials/navigation') %>
  <% const games = [{id: 1, players: 4, room_title: "Room 1"}] %>
  <table>
    <thead>
      <th>Game room</th>
      <th>Players</th>
      <th>Action</th>
    </thead>
    <tbody>

      <% for (game of games) { %>
        <tr>
          <td><%= game.room_title %></td>
          <td><%= game.players %></td>
          <td><a href="/game/<%= game.id %>">Join</a></td>
        </tr>
      <% } %>

    </tbody>
  </table>
  </div>
</body>
</html>