<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<script>
  const joinGame = (id) => {
    fetch(`/api/game/join/${id}`, { method: "post" })
    .then(res => res.json())
    .then(json => {
      document.location.href = json.url
    })
  }
</script>
<body>
  <h1>AUTHENTICATED</h1>
  <%- include('partials/navigation') %>
  <div>
    <div>
      <table id="game-room-list">
        <thead>
          <th>ID</th>
          <th>Game room</th>
          <th>Players</th>
          <th>Players joined</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% for (game of games) { %>
            <tr>
              <td><%= game.id %></td>
              <td><%= game.room_title %></td>
              <td><%= game.players %></td>
              <td><%= game.players_joined %></td>
              <td><a onclick="joinGame('<%= game.id %>')">Join</a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div>
      <form action="api/game/create" method="post">
        <input 
          type="text"
          name="room" 
          placeholder="Room name"
        />
        <select name="players">
          <option value="">Select</option>
          <% for(let i = 2; i < 5; i++) { %>
            <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <button type="submit">
          Create
        </button>
      </form>
    </div>
  </div>
</body>
</html>